include sky/backends/monkey_patches/*.py
exclude sky/clouds/service_catalog/data_fetchers/analyze.py
include sky/setup_files/*
include sky/skylet/*.sh
include sky/skylet/LICENSE
include sky/skylet/providers/aws/*
include sky/skylet/providers/aws/cloudwatch/*
include sky/skylet/providers/azure/*
include sky/skylet/providers/gcp/*
include sky/skylet/providers/ibm/*
include sky/skylet/providers/kubernetes/*
include sky/skylet/providers/lambda_cloud/*
include sky/skylet/providers/oci/*
include sky/skylet/providers/scp/*
include sky/skylet/providers/*.py
include sky/skylet/ray_patches/*.patch
include sky/spot/dashboard/*
include sky/spot/dashboard/templates/*
include sky/spot/dashboard/static/*
include sky/templates/*
include sky/utils/kubernetes/*
