**/.DS_Store
**/*.pyc
**/__pycache__/
*.egg-info/
*.eggs/

docs/build/
docs/_build/
build/
sky_logs/
sky/clouds/service_catalog/data_fetchers/*.csv
.vscode/
.idea/
.env

# For editor files
*.swp
.buildkite/*.yaml
.coverage
