**/.DS_Store
**/*.pyc
**/__pycache__/
*.egg-info/
*.eggs/

docs/build/
docs/_build/
build/
sky_logs/
sky/clouds/service_catalog/data_fetchers/*.csv
.vscode/
.idea/
.env

# For editor files
*.swp
.buildkite/*.yaml
.venv/bin/activate
.venv/bin/activate.csh
.venv/bin/activate.fish
.venv/bin/Activate.ps1
.venv/bin/black
.venv/bin/blackd
.venv/bin/dmypy
.venv/bin/epylint
.venv/bin/get_gprof
.venv/bin/get_objgraph
.venv/bin/isort
.venv/bin/isort-identify-imports
.venv/bin/mprof
.venv/bin/mypy
.venv/bin/mypyc
.venv/bin/pip
.venv/bin/pip3
.venv/bin/pip3.10
.venv/bin/py.test
.venv/bin/pylint
.venv/bin/pylint-config
.venv/bin/pyreverse
.venv/bin/pytest
.venv/bin/python
.venv/bin/python3
.venv/bin/python3.10
.venv/bin/stubgen
.venv/bin/stubtest
.venv/bin/symilar
.venv/bin/undill
.venv/bin/yapf
.venv/bin/yapf-diff
