# formatting
# match the version with .pre-commit-config.yaml
yapf==0.32.0
# match the version with .pre-commit-config.yaml
pylint==2.14.5
# formatting the node_providers code from upstream ray-project/ray project
# match the version with .pre-commit-config.yaml
black==22.10.0
# https://github.com/edaniszewski/pylint-quotes
# match the version with .pre-commit-config.yaml
pylint-quotes==0.2.3
# match the version with .pre-commit-config.yaml
toml==0.10.2
# match the version with .pre-commit-config.yaml
isort==5.12.0

# type checking
# match the version with .pre-commit-config.yaml
mypy==1.14.1
types-PyYAML
types-paramiko
# 2.31 requires urlib3>2, which is incompatible with IBM and
# kubernetes packages, which require urllib3<2.
types-requests<2.31
types-setuptools
types-cachetools
types-pyvmomi
types-aiofiles
types-paramiko
types-protobuf
types-python-dateutil

# testing
pytest
pytest-xdist
pytest-env>=0.6
pytest-asyncio

# memory profiler
memory_profiler==0.61.0

# For testing SkyServe
aiohttp==3.9.3

# For mocking AWS
moto==5.1.2

# boto3 type checking
boto3-stubs[s3,ec2,sts,iam,service-quotas]

# For postgres
psycopg2-binary==2.9.10

# For helm okta test
selenium==4.33.0
webdriver-manager==4.0.2

# For grpcio/protobuf code generation
# We arrived at 1.63.0 through the following:
# 1. pip install -e ".[all]"
# 2. pip show protobuf -> 5.29.5, so let's use 5.x as a baseline.
# 3. 1.63.0 is the oldest version of grpc that supports protobuf >= 5.x.y.
# TODO(kevin): Have this value be maintained by the CI pipeline,
# to make sure it's always up to date.
grpcio-tools>=1.63.0
# grpcio==1.63.0
# The oldest version of protobuf that grpcio 1.63.0 supports.
# protobuf==5.26.1
