# formatting
# match the version with .pre-commit-config.yaml
yapf==0.32.0
# match the version with .pre-commit-config.yaml
pylint==2.14.5
# formatting the node_providers code from upstream ray-project/ray project
# match the version with .pre-commit-config.yaml
black==22.10.0
# https://github.com/edaniszewski/pylint-quotes
# match the version with .pre-commit-config.yaml
pylint-quotes==0.2.3
# match the version with .pre-commit-config.yaml
toml==0.10.2
# match the version with .pre-commit-config.yaml
isort==5.12.0

# type checking
# match the version with .pre-commit-config.yaml
mypy==1.4.0
types-PyYAML
types-paramiko
# 2.31 requires urlib3>2, which is incompatible with IBM and
# kubernetes packages, which require urllib3<2.
types-requests<2.31
types-setuptools
types-cachetools
types-pyvmomi
types-aiofiles
types-paramiko
types-protobuf

# testing
pytest
pytest-xdist
pytest-env>=0.6
pytest-asyncio

# memory profiler
memory_profiler==0.61.0

# For testing SkyServe
aiohttp==3.9.3

# For mocking AWS
moto==5.1.2

# boto3 type checking
boto3-stubs[s3,ec2,sts,iam,service-quotas]

# For postgres
psycopg2-binary==2.9.10

# For helm okta test
selenium==4.33.0
webdriver-manager==4.0.2
