# formatting
yapf==0.32.0
pylint==3.2.7
black==22.10.0
ruff==0.6.9
toml==0.10.2
isort==5.12.0

# type checking
mypy==1.4.1
types-PyYAML
# 2.31 requires urlib3>2, which is incompatible with SkyPilot, IBM and
# kubernetes packages, which require urllib3<2.
types-requests<2.31
types-setuptools
types-cachetools
types-pyvmomi
types-networkx
types-aiofiles

# testing
pytest
pytest-xdist
pytest-env>=0.6

# memory profiler
memory_profiler==0.61.0

# For testing SkyServe
aiohttp==3.9.1
