{{- $fullName := include "skypilot.fullname" . -}}
{{- /* Use secret since sshNodePools config may contain credentials */ -}}
{{- if .Values.apiService.sshNodePools}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}-ssh-node-pools
  namespace: {{ .Release.Namespace }}
stringData:
  ssh_node_pools.yaml: |
{{ .Values.apiService.sshNodePools | indent 4 }}
{{- end }}
{{- /* Slurm SSH config for connecting to Slurm login nodes */ -}}
{{- if .Values.slurmCredentials.config }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}-slurm-config
  namespace: {{ .Release.Namespace }}
stringData:
  config: |
{{ .Values.slurmCredentials.config | indent 4 }}
{{- end }}
