{{- /* Use secret since sshNodePools config may contain credentials */ -}}
{{- if .Values.apiService.sshNodePools}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ssh-node-pools
  namespace: {{ .Release.Namespace }}
  labels:
    tier: skypilot
    component: skypilot-api-secrets
    {{- with .Values.global.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
stringData:
  ssh_node_pools.yaml: |
{{ .Values.apiService.sshNodePools | indent 4 }} 
{{- end }}
