{{- /* Use serect since sshNodePools config may contain credentials */ -}}
{{- if .Values.apiService.sshNodePools}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ssh-node-pools
  namespace: {{ .Release.Namespace }}
stringData:
  ssh_node_pools.yaml: |
{{ .Values.apiService.sshNodePools | indent 4 }}
{{- end }}

{{- /* Create SSH key secret if keys are provided */ -}}
{{- if .Values.apiService.sshKeys }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-ssh-keys" .Release.Name }}
  namespace: {{ .Release.Namespace }}
stringData:
{{- range $name, $content := .Values.apiService.sshKeys }}
  {{ $name }}: |
{{ $content | indent 4 }}
{{- end }}
{{- end }}

{{- /* Create kubeconfig secret if provided */ -}}
{{- if and .Values.kubernetesCredentials.useKubeconfig .Values.kubernetesCredentials.kubeconfig }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.kubernetesCredentials.kubeconfigSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  kubeconfig: |
{{ .Values.kubernetesCredentials.kubeconfig | indent 4 }}
{{- end }}

{{- /* Create AWS credentials secret if access keys are provided */ -}}
{{- if and .Values.awsCredentials.enabled .Values.awsCredentials.accessKeyId .Values.awsCredentials.secretAccessKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.awsCredentials.awsSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  {{ .Values.awsCredentials.accessKeyIdKeyName }}: {{ .Values.awsCredentials.accessKeyId | quote }}
  {{ .Values.awsCredentials.secretAccessKeyKeyName }}: {{ .Values.awsCredentials.secretAccessKey | quote }}
{{- end }}

{{- /* Create GCP credentials secret if provided */ -}}
{{- if and .Values.gcpCredentials.enabled .Values.gcpCredentials.credentialsJson }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.gcpCredentials.gcpSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  gcp-cred.json: |
{{ .Values.gcpCredentials.credentialsJson | indent 4 }}
{{- end }}

{{- /* Create RunPod credentials secret if API key is provided */ -}}
{{- if and .Values.runpodCredentials.enabled .Values.runpodCredentials.apiKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.runpodCredentials.runpodSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  api_key: {{ .Values.runpodCredentials.apiKey | quote }}
{{- end }}

{{- /* Create Lambda credentials secret if API key is provided */ -}}
{{- if and .Values.lambdaCredentials.enabled .Values.lambdaCredentials.apiKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.lambdaCredentials.lambdaSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  api_key: {{ .Values.lambdaCredentials.apiKey | quote }}
{{- end }}

{{- /* Create Nebius credentials secret if JSON credentials provided */ -}}
{{- if and .Values.nebiusCredentials.enabled .Values.nebiusCredentials.credentialsJson }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.nebiusCredentials.nebiusSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  credentials.json: |
{{ .Values.nebiusCredentials.credentialsJson | indent 4 }}
{{- end }}

{{- /* Create kubeconfig secret if provided */ -}}
{{- if and .Values.kubernetesCredentials.useKubeconfig .Values.kubernetesCredentials.kubeconfig }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.kubernetesCredentials.kubeconfigSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  kubeconfig: |
{{ .Values.kubernetesCredentials.kubeconfig | indent 4 }}
{{- end }}

{{- /* Create AWS credentials secret if access keys are provided */ -}}
{{- if and .Values.awsCredentials.enabled .Values.awsCredentials.accessKeyId .Values.awsCredentials.secretAccessKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.awsCredentials.awsSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  {{ .Values.awsCredentials.accessKeyIdKeyName }}: {{ .Values.awsCredentials.accessKeyId | quote }}
  {{ .Values.awsCredentials.secretAccessKeyKeyName }}: {{ .Values.awsCredentials.secretAccessKey | quote }}
{{- end }}

{{- /* Create GCP credentials secret if provided */ -}}
{{- if and .Values.gcpCredentials.enabled .Values.gcpCredentials.credentialsJson }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.gcpCredentials.gcpSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  gcp-cred.json: |
{{ .Values.gcpCredentials.credentialsJson | indent 4 }}
{{- end }}

{{- /* Create RunPod credentials secret if API key is provided */ -}}
{{- if and .Values.runpodCredentials.enabled .Values.runpodCredentials.apiKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.runpodCredentials.runpodSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  api_key: {{ .Values.runpodCredentials.apiKey | quote }}
{{- end }}

{{- /* Create Lambda credentials secret if API key is provided */ -}}
{{- if and .Values.lambdaCredentials.enabled .Values.lambdaCredentials.apiKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.lambdaCredentials.lambdaSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  api_key: {{ .Values.lambdaCredentials.apiKey | quote }}
{{- end }}

{{- /* Create Nebius credentials secret if JSON credentials provided */ -}}
{{- if and .Values.nebiusCredentials.enabled .Values.nebiusCredentials.credentialsJson }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.nebiusCredentials.nebiusSecretName }}
  namespace: {{ .Release.Namespace }}
stringData:
  credentials.json: |
{{ .Values.nebiusCredentials.credentialsJson | indent 4 }}
{{- end }}
