{{- /* Use secret since sshNodePools config may contain credentials */ -}}
{{- if .Values.apiService.sshNodePools}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "skypilot.fullname" . }}-ssh-node-pools
  namespace: {{ .Release.Namespace }}
stringData:
  ssh_node_pools.yaml: |
{{ .Values.apiService.sshNodePools | indent 4 }} 
{{- end }}
