{{- if and (not .Values.ingress.authSecret) .Values.ingress.authCredentials (not .Values.apiService.enableUserManagement) (not (index .Values.ingress "oauth2-proxy" "enabled")) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-basic-auth
  namespace: {{ .Release.Namespace }}
  labels:
    tier: skypilot
    component: skypilot-ingress-authcredentials-secret
    {{- with .Values.global.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
stringData:
  auth: {{ .Values.ingress.authCredentials | quote }}
{{- end }}
