{{- if or (and .Values.auth .Values.auth.oauth .Values.auth.oauth.enabled) (and .Values.ingress.enabled (index .Values.ingress "oauth2-proxy" "enabled")) }}
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ .Release.Name }}-oauth2-proxy
    skypilot.co/component: oauth2-proxy
  name: {{ .Release.Name }}-oauth2-proxy
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: http
    port: 4180
    protocol: TCP
    targetPort: 4180
  selector:
    app: {{ .Release.Name }}-oauth2-proxy
{{- end }}
