volumes:
  /mnt/data: {{ pvc_name }}

service:
  readiness_probe:
    path: /health
    initial_delay_seconds: 180  # Use a large delay for EKS LB to be ready
  replicas: 2

resources:
  ports: 8080
  infra: kubernetes

workdir: examples/serve/http_server

# Use 8080 to test jupyter service is terminated
run: |
  # Verify volume is mounted and writable
  echo "Hello from volume!" > /mnt/data/hello.txt
  cat /mnt/data/hello.txt
  python3 server.py --port 8080
