# Set configuration for Prometheus helm chart
prometheus:
  enabled: true
  # Refer to https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml for available values.
  # Keep the installation minimal by default. If you want to monitor more resources other than the API server,
  # it is recommended to install and manage prometheus separately.
  # SkyPilot API server will be automatically discovered by the prometheus if it runs with the default kubernetes discovery configuration.
  server:
    persistentVolume:
      enabled: true
      size: 50Gi
    retention: "1000d"
    # The Prometheus documentations recommends setting the retention size to be 80-85% of the persistent volume size.
    # ref: https://prometheus.io/docs/prometheus/latest/storage/#right-sizing-retention-size
    # 43GB is roughly 80% of the 50Gi persistent volume size. We use Gi for the PV size and GB for the retention size
    # because these are the units specified by the Prometheus chart schema for each respective field.
    retentionSize: "43GB"
  kube-state-metrics:
    enabled: true
    # TODO (kyuds): remove skypilot-cluster label in v0.12.0; deprecated in favor of skypilot-cluster-name.
    metricLabelsAllowlist:
      - pods=[skypilot-cluster,skypilot-cluster-name]
  prometheus-node-exporter:
    enabled: false
  prometheus-pushgateway:
    enabled: false
  alertmanager:
    enabled: false
