cluster_name: {{cluster_name}}

# The maximum number of workers nodes to launch in addition to the head node.
max_workers: {{num_nodes - 1}}
idle_timeout_minutes: 60

provider:
  type: aws
  region: {{region}}
  availability_zone: {{zones}}
  # Keep (otherwise cannot reuse when re-provisioning).
  # teardown(terminate=True) will override this.
  cache_stopped_nodes: True

auth:
  ssh_user: ubuntu

available_node_types:
  ray.head.default:
    resources: {}
    node_config:
      InstanceType: {{instance_type}}
      ImageId: {{aws_default_ami}}  # Deep Learning AMI (Ubuntu 18.04); see aws.py.
      BlockDeviceMappings:
        - DeviceName: /dev/sda1
          Ebs:
            VolumeSize: 256
      {% if use_spot %}
      InstanceMarketOptions:
          MarketType: spot
          # Additional options can be found in the boto docs, e.g.
          #   SpotOptions:
          #       MaxPrice: MAX_HOURLY_PRICE
      {% endif %}
{% if num_nodes > 1 %}
  ray.worker.default:
    min_workers: {{num_nodes - 1}}
    max_workers: {{num_nodes - 1}}
    resources: {}
    node_config:
      InstanceType: {{instance_type}}
      ImageId: {{aws_default_ami}}  # Deep Learning AMI (Ubuntu 18.04); see aws.py.
      BlockDeviceMappings:
        - DeviceName: /dev/sda1
          Ebs:
            VolumeSize: 256
      {% if use_spot %}
      InstanceMarketOptions:
          MarketType: spot
          # Additional options can be found in the boto docs, e.g.
          #   SpotOptions:
          #       MaxPrice: MAX_HOURLY_PRICE
      {% endif %}
{%- endif %}

head_node_type: ray.head.default

# Format: `REMOTE_PATH : LOCAL_PATH`
file_mounts: {
  "{{sky_remote_libs_remote_path}}": "{{sky_remote_libs_local_path}}",
{%- if workdir is not none %}
  "~/sky_workdir": "{{workdir}}",
{%- endif %}
{%- if setup_sh_path is not none %}
  "/tmp/setup.sh": "{{setup_sh_path}}",
{%- endif %}
{%- for remote_path, local_path in file_mounts.items() %}
  "{{remote_path}}": "{{local_path}}",
{%- endfor %}
}

{%- if initialization_commands is not none %}
initialization_commands:
{%- for cmd in initialization_commands %}
  - {{cmd}}
{%- endfor %}
{%- endif %}

# Patterns for files to exclude when running rsync up or rsync down
# rsync_exclude:
#   - "**/.git"
#   - "**/.git/**"

rsync_filter:
  - .gitignore

# List of shell commands to run to set up nodes.
setup_commands:
  # This AMI's system Python is version 2+.
  - pip3 install -U ray[default]=={{ray_version}} && mkdir -p ~/sky_workdir && mkdir -p ~/.sky/sky_app && pip3 install pendulum PrettyTable && python3 -c "import os; import shutil; from ray._private import log_monitor; path = os.path.expanduser('{{sky_remote_libs_remote_path}}'); shutil.copyfile(path + '/ray_patches/log_monitor.py', log_monitor.__file__)" # patch the buggy ray file
{%- if setup_sh_path is not none %}
  - cd ~/sky_workdir && bash /tmp/setup.sh  # FIXME: /tmp is volatile.
{%- endif %}

# Command to start ray on the head node. You don't need to change this.
head_start_ray_commands:
  - ray stop; ulimit -n 65536; ray start --head --port=6379 --object-manager-port=8076 --autoscaling-config=~/ray_bootstrap_config.yaml {{"--resources='%s'" % custom_resources if custom_resources}}

{%- if num_nodes > 1 %}
worker_start_ray_commands:
  - ray stop; ulimit -n 65536; ray start --address=$RAY_HEAD_IP:6379 --object-manager-port=8076 {{"--resources='%s'" % custom_resources if custom_resources}}
{%- endif %}
