cluster_name: {{run_id}}

max_workers: 1
upscaling_speed: 1.0

docker:
    image: "rayproject/ray-ml:latest-gpu"
    container_name: "resnet_container"
    pull_before_run: True
    run_options:
        - --ulimit nofile=65536:65536

idle_timeout_minutes: 5

provider:
  type: aws
  region: us-west-2
  availability_zone: us-west-2a,us-west-2b

auth:
  ssh_user: ubuntu

available_node_types:
  ray.head.default:
    resources: {}
    node_config:
      InstanceType: {{instance_type}}
      ImageId: ami-0e9c522a722725e62  # Deep Learning AMI (Ubuntu 18.04) Version 49.0
      BlockDeviceMappings:
        - DeviceName: /dev/sda1
          Ebs:
            VolumeSize: 500

  ray.worker.default:
    min_workers: 0
    max_workers: 1
    resources: {}
    node_config:
      InstanceType: {{instance_type}}
      ImageId: ami-0e9c522a722725e62  # Deep Learning AMI (Ubuntu 18.04) Version 49.0

head_node_type: ray.head.default

# Format: `REMOTE_PATH : LOCAL_PATH`
file_mounts: {
  "/tmp/workdir": {{workdir}}
}

# Patterns for files to exclude when running rsync up or rsync down
rsync_exclude:
  - "**/.git"
  - "**/.git/**"

rsync_filter:
  - .gitignore

initialization_commands: []

# List of shell commands to run to set up nodes.
setup_commands:
  - cd /tmp/workdir && {{setup_command}}

# Command to start ray on the head node. You don't need to change this.
head_start_ray_commands: []
