cluster_name: sky-azure

# The maximum number of workers nodes to launch in addition to the head node.
max_workers: {{num_nodes - 1}}
idle_timeout_minutes: 60

provider:
    type: azure
    location: {{region}}
    zone: {{zones}}
    resource_group: sky-{{region}}

auth:
    ssh_user: azureuser

available_node_types:
    ray.head.default:
      resources: {}
      node_config:
        azure_arm_parameters:
            vmSize: {{instance_type}}
            # List images https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-ps-findimage
            imagePublisher: microsoft-dsvm
            imageOffer: ubuntu-1804
            imageSku: 1804-gen2
            imageVersion: 21.09.13
        # TODO: attach disk
    {% if num_nodes > 1 %}
    ray.worker.default:
      min_workers: {{num_nodes - 1}}
      max_workers: {{num_nodes - 1}}
      resources: {}
      node_config:
        azure_arm_parameters:
            vmSize: {{instance_type}}
            # List images https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cli-ps-findimage
            imagePublisher: microsoft-dsvm
            imageOffer: ubuntu-1804
            imageSku: 1804-gen2
            imageVersion: 21.09.13
  {%- endif %}

head_node_type: ray.head.default

# Format: `REMOTE_PATH : LOCAL_PATH`
file_mounts: {
{%- if workdir is not none %}
  "/tmp/workdir": "{{workdir}}",
{%- endif %}
{%- if setup_sh_path is not none %}
  "/tmp/setup.sh": "{{setup_sh_path}}",
{%- endif %}
{%- for remote_path, local_path in file_mounts.items() %}
  "{{remote_path}}": "{{local_path}}",
{%- endfor %}
}

# Patterns for files to exclude when running rsync up or rsync down
rsync_exclude:
  - "**/.git"
  - "**/.git/**"

rsync_filter:
  - .gitignore

# List of shell commands to run to set up nodes.
setup_commands:
  # This AMI's system Python is version 2+.
  - pip3 install -U ray==1.7.0
{%- if setup_sh_path is not none %}
  - mkdir -p /tmp/workdir && cd /tmp/workdir && bash /tmp/setup.sh
{%- else %}
  - mkdir -p /tmp/workdir && cd /tmp/workdir
{%- endif %}

# Command to start ray on the head node. You don't need to change this.
head_start_ray_commands:
  - ray stop
  - ulimit -n 65536; ray start --head --port=6379 --object-manager-port=8076 --autoscaling-config=~/ray_bootstrap_config.yaml {{"--resources='%s'" % custom_resources if custom_resources}}

{%- if num_nodes > 1 %}
worker_start_ray_commands:
  - ray stop
  - ulimit -n 65536; ray start --address=$RAY_HEAD_IP:6379 --object-manager-port=8076 {{"--resources='%s'" % custom_resources if custom_resources}}
{%- endif %}
