apiService:
  image: berkeleyskypilot/skypilot:0.10.0
  # Number of replicas to deploy - replicas > 1 is not well tested, and requires
  # a PVC that supports ReadWriteMany (see accessMode in storage section below).
  replicas: 1
  preDeployHook: |-
    # Run commands before deploying the API server, e.g. installing an admin
    # policy. Remember to set the admin policy in the config section below.
    echo "Pre-deploy hook"

    # Uncomment the following lines to install the admin policy

    # echo "Installing admin policy"
    # pip install git+https://github.com/michaelvll/admin-policy-examples


  # Set ~/.sky/config.yaml content on the API server
  # Updating this value will not restart the API server but it will take tens of seconds to take effect on the API server.
  # You can verify config updates on the server by exec-ing into the pod and running `cat ~/.sky/config.yaml`
  config: null
  # config: |
  #   admin_policy: admin_policy_examples.AddLabelsPolicy
  #
  #   kubernetes:
  #     allowed_contexts:
  #       - gke_sky-dev-465_us-central1-c_skypilot-test-cluster
  #       - gke_sky-dev-465_us-central1-c_skypilot-test-cluster-2
  #
  #   jobs:
  #     controller:
  #       resources:
  #         cpus: 2+
  #
  #   allowed_clouds:
  #     - aws
  #     - kubernetes

  # Set ~/.sky/ssh_node_pools.yaml content on the API server
  # Updating this value will not restart the API server but it will take tens of seconds to take effect on the API server.
  # You can verify config updates on the server by exec-ing into the pod and running `cat ~/.sky/ssh_node_pools.yaml`
  sshNodePools: null
  # sshNodePools: |
  #  my-cluster:
  #    hosts:
  #      - 1.2.3.4
  #      - 1.2.3.5
  #  my-box:
  #    hosts:
  #      - hostname_in_ssh_config
  # Optional secret that contains SSH keys for the API server to use, all the entries in the secret will be mounted to ~/.ssh/ directory in the API server.
  sshKeySecret: null
  

  # Skip resource check for the API server, not recommended for production deployment
  skipResourceCheck: false
  # Set resource requests and limits for the API server
  resources:
    # Request a moderate amount of resources for an remote API server by default, which meets the
    # basic requirements for team usage at medium scale.
    requests:
      cpu: "4"
      memory: "8Gi"
    limits:
      cpu: "4"
      memory: "8Gi"

  # [Internal] Enable developer mode for SkyPilot
  skypilotDev: false

storage:
  # Enable/disable persistent storage
  enabled: true
  # Storage class name - leave empty to use cluster default
  storageClassName: ""
  # Access modes - ReadWriteOnce or ReadWriteMany depending on what is supported by the storage class
  accessMode: ReadWriteOnce
  # Storage size
  size: 10Gi
  # Optional selector for matching specific PVs
  selector: {}
    # matchLabels:
    #   environment: prod
  # Optional volume name for binding to specific PV
  volumeName: ""
  # Optional annotations
  annotations: {}


ingress:
  enabled: true
  # Name of the secret containing basic auth credentials for ingress. If not specified, a new secret will be created using authCredentials
  authSecret: null
  # Basic auth credentials in format "username:encrypted_password" (only used if ingress.authSecret is not set)
  authCredentials: "username:$apr1$encrypted_password"
  # Host to exclusively accept traffic from (optional) - will respond to all host requests if not set
  host: null
  # The base path of API server, you may use differenet path to expose multiple API server through a unified ingress-controller
  path: '/'

  # Whether enable an additional NodePort service for the ingress controller
  # Default to null for backward compatibility:
  # - For existing deployments, error out and ask users to set ingress.nodePortEnabled explicitly
  # - For new deployments, disable the NodePort service, equivalent to ingress.nodePortEnabled=false
  # So, for deployments that use default values, upgrade from 0.8.0 nightly will:
  # - Ask users to set ingress.nodePortEnabled explicitly
  # - Create a new LoadBalancer endpoint since ingress-nginx.controller.service.type is now default to LoadBalancer
  # It is recommended to keep only one endpoint by explicitly setting ingress.nodePortEnabled=false and swtich to ingress-nginx.controller.service.type
  # if you are upgrading from 0.8.0 nightly.
  # Deprecated: use ingress-nginx.controller.service.type=NodePort instead
  # TODO(aylei): remove these fields in v0.10.0
  nodePortEnabled: null
  # Specific nodePort to use for the ingress controller
  # If not set, Kubernetes will assign random ports in the NodePort range (default 30000-32767)
  # Deprecated: use ingress-nginx.controller.service.nodePorts.http instead
  httpNodePort: 30050 # Set to null to automatically assign a random port
  # Deprecated: use ingress-nginx.controller.service.nodePorts.https instead
  httpsNodePort: 30051 # Set to null to automatically assign a random port

  # OAuth2 Proxy configuration for authentication
  oauth2-proxy:
    # Enable/disable OAuth2 Proxy deployment
    enabled: false
    # Docker image for OAuth2 Proxy
    image: "quay.io/oauth2-proxy/oauth2-proxy:v7.9.0"
    # Okta domain URL for OIDC issuer (required when enabled=true)
    oidc-issuer-url: null
    # Client ID from OIDC provider (Okta) (required when enabled=true)
    client-id: ""
    # Client Secret from OIDC provider (Okta) (required when enabled=true)
    client-secret: ""
    # Use HTTPS (set to true for production environments)
    use-https: false
    # Email domains to allow (use "*" for all domains)
    email-domain: "*"
    # Session storage settings ("cookie" or "redis")
    session-store-type: "redis"
    # Redis connection URL (redis://host[:port][/db-number])
    # If left as null and session-store-type is redis, a Redis instance will be deployed automatically
    # If set, this external Redis instance will be used
    redis-url: null
    # Cookie timing settings (in seconds)
    cookie-refresh: null  # refresh tokens after this duration (Access token lifespan minus 1 min)
    cookie-expire: null  # cookie expiration time (should match refresh token lifespan)

ingress-nginx:
  enabled: true
  controller:
    service:
      type: LoadBalancer
      # Default annotations for the ingress controller service. We want an L4 loadbalancer by default for maximum compatibility,
      # especially for websocket SSH tunneling. Different cloud providers may require different annotations.
      # Annotations with no side effects are aggregated below to simplify the usage.
      annotations:
        # For AWS service reconciled by cloud-controller-manager, use NLB by default.
        # If you are using AWS Load Balancer Controller, refer to the following doc to configure annotations:
        # https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/service/annotations/
        service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
        # For GKE, use backend service-based external passthrough Network Load Balancer as per best practices.
        # Ref: https://cloud.google.com/kubernetes-engine/docs/concepts/service-load-balancer#load_balancer_types
        cloud.google.com/l4-rbs: "enabled"
        # For Azure, override the healthz check protocol to TCP probe to avoid HTTP auth issues.
        service.beta.kubernetes.io/port_443_health-probe_protocol: "TCP"
        service.beta.kubernetes.io/port_80_health-probe_protocol: "TCP"
    config:
      http-snippet: |
        map $http_upgrade $connection_upgrade {
            default upgrade;
            ''      close;
        }

# RBAC controls the in-cluster permissions for the SkyPilot API server.
rbac:
  # If false, the serviceaccount and rbac policies will not be created. An external service account is expected in this case.
  create: true
  # If not specified, the service account name will be generated by the chart.
  serviceAccountName: ""
  # Namespace-scoped rules that are granted to the release namespace and rbac.grantedNamespaces.
  namespaceRules:
    # Required for managing pods and their lifecycle
    - apiGroups: [ "" ]
      resources: [ "pods", "pods/status", "pods/exec", "pods/portforward" ]
      verbs: [ "*" ]
    # Required for managing services for SkyPilot Pods
    - apiGroups: [ "" ]
      resources: [ "services" ]
      verbs: [ "*" ]
    # Required for managing SSH keys
    - apiGroups: [ "" ]
      resources: [ "secrets" ]
      verbs: [ "*" ]
    # Required for retrieving reason when Pod scheduling fails.
    - apiGroups: [ "" ]
      resources: [ "events" ]
      verbs: [ "get", "list", "watch" ]
    # Required for syncing workspace config changes to ConfigMap
    - apiGroups: [ "" ]
      resources: [ "configmaps" ]
      verbs: [ "get", "patch" ]
  # Cluster-scoped rules for API server.
  clusterRules:
    # Required for getting node resources.
    - apiGroups: [ "" ]
      resources: [ "nodes" ]
      verbs: [ "get", "list", "watch" ]
    # Required for querying GPUs.
    - apiGroups: [ "" ]
      resources: [ "pods" ]
      verbs: [ "get", "list", "watch" ]
    # Required for autodetecting runtime classes
    - apiGroups: [ "node.k8s.io" ]
      resources: [ "runtimeclasses" ]
      verbs: [ "get", "list", "watch" ]
    # Required for exposing services.
    - apiGroups: [ "networking.k8s.io" ]
      resources: [ "ingressclasses" ]
      verbs: [ "get", "list", "watch" ]
    # Required for accessing ingress service.
    # TODO(aylei): unify the ingress of API server and task pods, then remove this.
    - apiGroups: [""]
      resources: ["services"]
      verbs: ["list", "get"]
  # This allows the API server to grant permissions to SkyPilot Pods and system components.
  # `kubernetes.remote_identity` must be specified in the sky config if this is disabled.
  manageRbacPolicies: true
  # This allows the API server to manage system components in the skypilot-system namespace.
  # Required for object store mounting.
  # You can disable this if you do not need additional capabilities of system components like
  # object store mounting or you manage system components manually, i.e. outside of SkyPilot.
  manageSystemComponents: true

# kubernetesCredentials add additional kubernetes cluster permissions to the API server.
kubernetesCredentials:
  # Enable/disable using the API server's cluster for workloads
  useApiServerCluster: true
  # Use the `kube-credentials` secret containing the kubeconfig to authenticate to Kubernetes
  useKubeconfig: false
  # Name of the secret containing the kubeconfig file. Only used if useKubeconfig is true.
  kubeconfigSecretName: kube-credentials
  # Namespace to use for in-cluster resources
  inclusterNamespace: null

awsCredentials:
  enabled: false
  # Name of the secret containing the aws credentials. Only used if enabled is true.
  awsSecretName: aws-credentials
  # Key name used to set AWS_ACCESS_KEY_ID.
  accessKeyIdKeyName: aws_access_key_id
  # Key name used to set AWS_SECRET_ACCESS_KEY.
  secretAccessKeyKeyName: aws_secret_access_key

gcpCredentials:
  enabled: false
  # TODO(romilb): This can be made optional by using the project in the key json by default.
  projectId: null
  # Name of the secret containing the gcp credentials. Only used if enabled is true.
  gcpSecretName: gcp-credentials

# Populate RunPod credentials from the secret with key `api_key`
runpodCredentials:
  enabled: false
  # Name of the secret containing the RunPod credentials. Only used if enabled is true.
  runpodSecretName: runpod-credentials

# Populate Lambda credentials from the secret with key `api_key`
lambdaCredentials:
  enabled: false
  # Name of the secret containing the Lambda credentials. Only used if enabled is true.
  lambdaSecretName: lambda-credentials

# Populate Nebius credentials from the secret with nebius credentials.
nebiusCredentials:
  enabled: false
  tenantId: null
  # Name of the secret containing the Nebius credentials. Only used if enabled is true.
  nebiusSecretName: nebius-credentials

# Set securityContext for the api pod
podSecurityContext: {}

# Set securityContext for the api container inside the api pod
securityContext:
  capabilities:
    drop:
    - ALL
  allowPrivilegeEscalation: false

# Set the runtime class
runtimeClassName:
