name: pipeline

---
name: a

resources:
  cpus: 2+
  memory: 4+
  use_spot: true
  infra: {{cloud}}

setup: |
  echo setup for train
  sleep 20

run: |
  echo train starts
  sleep 600
  echo train ends

---
name: b

resources:
  cpus: 2+
  memory: 4+
  infra: {{cloud}}

setup: |
  echo setup for train
  sleep 20

run: |
  echo train starts
  sleep 20
  echo train ends

---

name: eval1

resources:
  cpus: 2+
  memory: 4+
  infra: {{cloud}}

setup: |
  echo setup for eval
  sleep 20

run: |
  echo eval starts
  sleep 20
  echo eval ends

---

name: eval2

resources:
  cpus: 2+
  memory: 4+
  infra: {{cloud}}

setup: |
  echo setup for eval
  sleep 20

run: |
  echo eval starts
  sleep 20
  echo eval ends
