file_mounts:
  /test-mount:
    # This will trigger StorageSpecError when the bucket already exists.
    name: {{ bucket_name }}
    store: {{ store }}
    mode: MOUNT

run: |
  ls /test-mount
  echo hello > /test-mount/$(date +%s).txt
