#!/bin/bash
export PROJECT_ID={{gcp_project_id}}

gcloud config set project $PROJECT_ID

gcloud compute tpus create {{tpu_name}} \
--zone={{zones}} \
--version={{tf_version}} \
--accelerator-type={{tpu_type}}
