service_spec:
  apiVersion: v1
  kind: Service
  metadata:
    name: {{ service_name }}
    labels:
      parent: skypilot
    annotations:
      {%- for key, value in annotations.items() %}
      {{ key }}: {{ value|tojson }}
      {%- endfor %}
  spec:
    type: LoadBalancer
    selector:
      {{ selector_key }}: {{ selector_value }}
    ports:
{%- for port in ports %}
    - port: {{ port | int }}
      targetPort: {{ port | int }}
      protocol: TCP
      name: port{{ port }}
{%- endfor %}
