#!/usr/bin/env bash
set -uo pipefail

# Checks if socat is installed
if [ ! "$(which socat)" ]; then
  echo "Using 'port-forward' mode to run ssh session on Kubernetes instances requires 'socat' to be installed. Please install 'socat'" >&2
  exit
fi

# Specifies which config file kubectl should use
export KUBECONFIG="{{ kube_config_path }}"

# If the port-forward command is already running on the jump pod, kill it
pgrep -f "kubectl port-forward svc/{{ ssh_jump_name }} {{ local_port }}:22" > /dev/null
if [ $? -eq 0 ]; then
    pkill -f "kubectl port-forward svc/{{ ssh_jump_name }} {{ local_port }}:22"
fi

# Establishes connection between local port and the ssh jump pod
kubectl port-forward svc/{{ ssh_jump_name }} {{ local_port }}:22 &
K8S_PID=$!
trap "kill -9 $K8S_PID" EXIT

# checks if a conection to local_port of ipaddress is established 
while ! nc -z {{ ipaddress }} {{ local_port }}; do
    sleep 0.1
done

# Establishes two directional byte streams to handle stdin/stdout between
# terminal and the jump pod
socat - tcp:{{ ipaddress }}:{{ local_port }}
