cluster_name: {{cluster_name}}

# The maximum number of workers nodes to launch in addition to the head node.
max_workers: {{num_nodes - 1}}
min_workers: {{num_nodes - 1}}
upscaling_speed: {{num_nodes - 1}}
idle_timeout_minutes: 60

provider:
  type: local
  head_ip: {{head_ip}}
  worker_ips: [
    {%- for ip in worker_ips%}
      "{{ip}}",
    {%- endfor %}
  ]

auth:
  ssh_user: {{ssh_user}}
  ssh_private_key: {{ssh_private_key}}

head_node_type: ray.head.default

# Format: `REMOTE_PATH : LOCAL_PATH`
file_mounts: {
  "{{sky_remote_path}}": "{{sky_local_path}}",
{%- for remote_path, local_path in credentials.items() %}
  "{{remote_path}}": "{{local_path}}",
{%- endfor %}
}

rsync_exclude: [
{%- for exclude_file in credential_excludes %}
  "{{exclude_file}}",
{%- endfor %}
]

# List of shell commands to run to set up nodes.
setup_commands:
  - which conda && (echo "Conda is already installed." && conda update -y conda) || (wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh && chmod +x Miniconda3-latest-Linux-x86_64.sh && bash Miniconda3-latest-Linux-x86_64.sh -b -p $HOME/miniconda3)
  - which conda > /dev/null 2>&1 && conda init > /dev/null && conda config --set auto_activate_base false;
  - if { conda env list | grep 'sky-ray-env'; } >/dev/null 2>&1; then echo "Conda (sky-ray-env) already exists."; else conda create -n sky-ray-env -y python=3.9; fi
  - conda activate sky-ray-env && pip install -U ray[default]=={{ray_version}} && mkdir -p ~/sky_workdir && mkdir -p ~/.sky/sky_app;
  - conda activate sky-ray-env && pip uninstall sky -y &> /dev/null; pip install {{sky_remote_path}}/*.whl && python -c "from sky.skylet.ray_patches import patch; patch()" # patch the buggy ray file

# Command to start ray on the head node. You don't need to change this.
head_start_ray_commands:
  - conda activate sky-ray-env && (ps aux | grep "-m sky.skylet.skylet" | grep -q python) || nohup python -m sky.skylet.skylet >> ~/.sky/skylet.log 2>&1 & # Start skylet daemon. (Should not place it in the head_setup_commands, otherwise it will run before sky is installed.)
  - conda activate sky-ray-env && ray stop; ray start --head --port=6379 --object-manager-port=8076 --autoscaling-config=~/ray_bootstrap_config.yaml {{"--resources='%s'" % custom_resources if custom_resources}}

worker_start_ray_commands:
  - conda activate sky-ray-env && ray stop; ray start --address=$RAY_HEAD_IP:6379 --object-manager-port=8076 {{"--resources='%s'" % custom_resources if custom_resources}}
