cluster_name: {{cluster_name}}

# The maximum number of workers nodes to launch in addition to the head node.
max_workers: {{num_nodes - 1}}
min_workers: {{num_nodes - 1}}
upscaling_speed: {{num_nodes - 1}}
idle_timeout_minutes: 60

provider:
  type: local
  head_ip: {{head_ip}}
  worker_ips: [
    {%- for ip in worker_ips%}
      "{{ip}}",
    {%- endfor %}
  ]

auth:
  ssh_user: {{ssh_user}}
  ssh_private_key: {{ssh_private_key}}

initialization_commands: []
setup_commands: []
head_setup_commands: []
worker_setup_commands: []
file_mounts: {}
cluster_synced_files: []
file_mounts_sync_continuously: false
rsync_exclude: []
rsync_filter: []

# Command to start ray on the head node. You don't need to change this.
head_start_ray_commands:
  - if [ -f ~/ray_bootstrap_config.yaml ]; then mv -vn ~/ray_bootstrap_config.yaml ~/admin_ray_config.yaml; fi
  - ray stop
  - ray start --head --port=6379 --object-manager-port=8076 --dashboard-port 8265 {{"--resources='%s'" % custom_resources if custom_resources}}

# Command to start ray on the worker node. Assumes, worker node resources = head node
{%- if num_nodes > 1 %}
worker_start_ray_commands:
  - ray stop
  - ray start --address=$RAY_HEAD_IP:6379 --object-manager-port=8076 {{"--resources='%s'" % custom_resources if custom_resources}}
{%- endif %}
