resources:
  cloud: gcp
  disk_size: 100
  ports:
{%- for port in ports %}
    - {{port}}
{%- endfor %}

{% if workdir is not none %}
workdir: {{workdir}}
{% endif %}

file_mounts:
  {{remote_task_yaml_path}}: {{local_task_yaml_path}}
