resources:
  cloud: gcp
  disk_size: 100
  cpus: 4
  ports:
{%- for port in ports %}
    - {{port}}
{%- endfor %}

setup: pip install skypilot[serve]

file_mounts:
  {{remote_task_yaml_path}}: {{local_task_yaml_path}}
