# The template for the spot controller

name: {{cluster_name}}

resources:
  disk_size: 50
# TODO(zhwu): Fix this to be able to failvoer across clouds with cheaper instance.
#  instance_type: t3.xlarge

file_mounts:
  ~/.sky/sky_spot_tasks/{{cluster_name}}.yaml: {{user_yaml_path}}

setup: |
  # Install cli dependencies
  echo "Preparing controller runtime..."
  (pip list | grep boto3 2>&1 > /dev/null && \
   pip list | grep google-api-core 2>&1 > /dev/null) || \
   pip3 install "$(echo {{sky_remote_path}}/*.whl)[aws,gcp]" 2>&1 > /dev/null 

  # We do not install azure dependencies for now since our subscription does not support spot instances.
  # pip list | grep azure-cli 2>&1 > /dev/null || \
  #  pip3 install "$(echo {{sky_remote_path}}/*.whl)[azure]" 2>&1 > /dev/null 

  test -f ~/google-cloud-sdk/bin/gcloud || \
  (wget --quiet https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-sdk-367.0.0-linux-x86_64.tar.gz && \
    tar xzf google-cloud-sdk-367.0.0-linux-x86_64.tar.gz && \
    mv google-cloud-sdk ~/ && \
    ~/google-cloud-sdk/install.sh -q)
  source ~/google-cloud-sdk/path.bash.inc

run: |
  python -u -m sky.spot.controller \
    ~/.sky/sky_spot_tasks/{{cluster_name}}.yaml \
    --job-id $SKY_JOB_ID


