#kapa-widget-container {
  z-index: 399 !important; /* Set to 399 to avoid overlap with rtd flyout */
  position: absolute !important;
}

.mantine-Modal-root {
  z-index: 399; /* Set to 399 to avoid overlap with rtd flyout */
  position: absolute;
}

#kapa-widget-container figure {
  padding: 0 !important;
}

.mantine-Modal-root figure {
  padding: 0 !important;
}