#kapa-widget-container {
  z-index: 10000 !important;
  position: absolute !important;
}

.mantine-Modal-root {
  z-index: 10000;
  position: absolute;
}

#kapa-widget-container figure {
  padding: 0 !important;
}

.mantine-Modal-root figure {
  padding: 0 !important;
}

/* RTD Flyout */
.rst-versions {
    z-index: 10001 !important; /* Set to 10001 to avoid overlap with kapa */
}

html[data-theme="light"] {
  --pst-color-secondary: var(--pst-color-primary);
}

html[data-theme="dark"] {
  --pst-color-secondary: var(--pst-color-primary);
  }

.form-control {
  background-color: var(--pst-color-background);
  color: var(--pst-color-text-base);

  &:focus,
  &:focus-visible {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: var(--pst-color-background);
    color: var(--pst-color-text-muted);
  }
}
