sphinx==4.3.2
sphinx-click==3.0.2
pydata-sphinx-theme==0.7.2
sphinx-autodoc-typehints==1.17.0
sphinx-book-theme==0.2.0
sphinx-togglebutton==0.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinx-copybutton==0.5.0
