linkify-it-py==2.0.3
myst-parser==2.0.0
sphinx==7.1.2
sphinx-click==5.0.1
sphinx-copybutton==0.5.2
# 0.3.2 fixes compatibility with Sphinx 7.2+ Path handling
sphinxemoji==0.3.2
sphinx-design==0.5.0
pydata-sphinx-theme==0.14.4
Pygments==2.16.1
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.25.2
sphinx-book-theme==1.1.0
sphinx-togglebutton==0.3.2
sphinx-notfound-page==1.0.4
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-googleanalytics==0.4
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
llms-txt
pypandoc_binary
