absl-py
boto3
colorama
jinja2
networkx
oauth2client
pandas
pycryptodome
pendulum
PrettyTable
pytest
ray[default]
sshconf
tabulate
docker

awscli==1.22.17
azure-cli
google-api-python-client
google-cloud-storage
