absl-py
boto3
colorama
jinja2
networkx
oauth2client
pandas
pycryptodome==3.4.3
pendulum
PrettyTable
pytest
ray[default]
tabulate
docker

awscli==1.22.17
azure-cli==2.22.0
google-api-python-client
google-cloud-storage
