name: condatest

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  condatest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Add conda to system path
      run: |
          # $CONDA is an environment variable pointing to the root of the miniconda directory
          echo $CONDA/bin >> $GITHUB_PATH

    - name: conda installation test
      run: |
        conda create -n condatest python=3.7
        conda init
        eval "$(command conda 'shell.bash' 'hook' 2> /dev/null)"
        conda activate condatest

        pip install ".[aws]"
        sky
