name: format

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - master
      - 'releases/**'
  merge_group:

jobs:
  format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        uv venv --seed ~/test-env
        source ~/test-env/bin/activate
        uv pip install yapf==0.32.0
        uv pip install toml==0.10.2
        uv pip install black==22.10.0
        uv pip install isort==5.12.0
    - name: Running yapf
      run: |
        source ~/test-env/bin/activate
        yapf --diff --recursive ./ --exclude 'sky/skylet/ray_patches/**' \
            --exclude 'sky/skylet/providers/ibm/**' \
            --exclude 'sky/schemas/generated/**'
    - name: Running black
      run: |
        source ~/test-env/bin/activate
        black --diff --check sky/skylet/providers/ibm/
    - name: Running isort for black formatted files
      run: |
        source ~/test-env/bin/activate
        isort --diff --check --profile black -l 88 -m 3 \
            sky/skylet/providers/ibm/
    - name: Running isort for yapf formatted files
      run: |
        source ~/test-env/bin/activate
        isort --diff --check ./ --sg 'sky/skylet/ray_patches/**' \
            --sg 'sky/skylet/providers/ibm/**' \
            --sg 'sky/schemas/generated/**'
