name: format

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - master
      - 'releases/**'
jobs:
  format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install yapf==0.32.0
        pip install toml==0.10.2
        pip install black==22.10.0
    - name: Running yapf
      run: |
        yapf --diff --recursive ./ --exclude 'sky/skylet/ray_patches/**' \
            --exclude 'sky/skylet/providers/aws/**' \
            --exclude 'sky/skylet/providers/gcp/**' \
            --exclude 'sky/skylet/providers/azure/**' \
            --exclude 'sky/skylet/providers/ibm/**'
    - name: Running black
      run: |
        black --diff --check sky/skylet/providers/aws/ \
            sky/skylet/providers/gcp/ \
            sky/skylet/providers/azure/ \
            sky/skylet/providers/ibm/
