name: mypy

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - master
      - 'releases/**'
  merge_group:

jobs:
  mypy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        uv venv --seed ~/test-env
        source ~/test-env/bin/activate
        uv pip install mypy==$(grep mypy requirements-dev.txt | cut -d'=' -f3)
        uv pip install $(grep types- requirements-dev.txt | tr '\n' ' ')
    - name: Running mypy
      run: |
        source ~/test-env/bin/activate
        mypy $(cat tests/mypy_files.txt)
