name: Pylint

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  pylint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install pylint==2.8.2
        # https://github.com/edaniszewski/pylint-quotes
        pip install pylint-quotes
        pip install -e "prototype[all]"
    - name: Analysing the code with pylint
      run: |
        pylint --load-plugins pylint_quotes prototype/sky
