name: Pylint

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - master
      - 'releases/**'
  merge_group:

jobs:
  pylint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]
    steps:
    - uses: actions/checkout@v3
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        uv venv --seed ~/test-env
        source ~/test-env/bin/activate
        uv pip install --prerelease=allow "azure-cli>=2.65.0"
        uv pip install ".[all]"
        uv pip install pylint==2.14.5
        uv pip install pylint-quotes==0.2.3
    - name: Analysing the code with pylint
      run: |
        source ~/test-env/bin/activate
        pylint --load-plugins pylint_quotes --ignore-paths 'sky/schemas/generated' sky
