name: Python Tests
on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - master
      - 'releases/**'
jobs:
  python-test:
    strategy:
      matrix:
        python-version: [3.6]
        test-path:
          - tests/test_cli.py
          - tests/test_global_user_state.py
          - tests/test_list_accelerators.py
          - tests/test_optimizer_dryruns.py
          - tests/test_optimizer_random_dag.py
          - tests/test_pycryptodome_version.py
          - tests/test_storage.py
          - tests/test_wheels.py
          - tests/test_spot.py
    # Need to specify 20.04, because ubuntu-latest does not work with
    # python 3.6: https://github.com/actions/setup-python/issues/355#issuecomment-1335042510
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache dependencies
        uses: actions/cache@v3
        if: startsWith(runner.os, 'Linux')
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-pytest-${{ matrix.python-version }}
          restore-keys: |
            ${{ runner.os }}-pip-pytest-${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[all]"
          pip install pytest pytest-xdist pytest-env>=0.6

      - name: Run tests with pytest
        run: SKYPILOT_DISABLE_USAGE_COLLECTION=1 pytest ${{ matrix.test-path }}
