name: Smoke Tests Trigger

on:
  workflow_dispatch:
    inputs:
      param:
        description: 'Parameter to pass to the smoke tests, example: --aws'
        required: true
        type: string
  # uncomment this for PR triggers testing
  # pull_request:
  #   types: [opened, synchronize, reopened]

jobs:
  smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Smoke Tests
        uses: buildkite/trigger-pipeline-action@v2.3.0
        with:
          buildkite_api_access_token: ${{ secrets.BUILDKITE_TOKEN }}
          pipeline: "skypilot-1/smoke-tests"
          branch: ${{ github.ref_name }}
          commit: "HEAD"
          message: "Manual Smoke Tests: ${{ github.event.inputs.param }}"
          ignore_pipeline_branch_filter: true
          build_env_vars: '{"ARGS": "${{ github.event.inputs.param }}"}'
