name: Documentation Build

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches:
      - master
      - 'releases/**'
  merge_group:

jobs:
  doc-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        uv venv --seed ~/test-env
        source ~/test-env/bin/activate
        uv pip install --prerelease=allow "azure-cli>=2.65.0"
        uv pip install ".[all]"
        cd docs
        uv pip install -r ./requirements-docs.txt
    - name: Build documentation
      run: |
        source ~/test-env/bin/activate
        cd ./docs
        # Set production environment for llms.txt generation
        export SPHINX_BUILD_PRODUCTION=true
        ./build.sh
